* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
h1 {
    font-size: 40px
    font-weight: bolder;
}

header {
    padding: 0;
    margin: 5px;
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
}

.container {
    padding: 0;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 100%;
    height: 100hw;
    justify-content: center;
    align-items: center;
}
#welcome {
    padding: 10px;
    margin: 10%, 10%;
    display: flex;
    flex-wrap: wrap;
    width: 60vw;
    max-width: 100hw;
    justify-content: center;
}
.button-grid {
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    margin: 10px, auto;
    padding: 10px;
    border-bottom: 1px solid #8c734e;
}

.btn {
    border: 1px solid #34023f;
    background-color: #9212ce;
    color: white;
    min-width: 100px;
    max-width: 400px;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    outline: none;

}
.btn:hover {
    cursor: pointer;
    background-color: #d79bf3;
    color: black; 
}

#start-button {
    background-color:#9212ce;
    /* font-weight: bold; */
    font-size: 18px;
}

#control-button-container {
    display: flex;
    flex-direction:row;
    justify-content: center;

}


#question-section p {
    font-style: italic;
    color:#8c734e;
}

.hidden {
    display: none;
}

form {
    padding: 4px;
    margin: 10px;
}

li {
    margin: 2px;
    font-size:large;
}

#response p {
    font-style: italic;
    color:#8c734e;
}